/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:400px) {
    
    .skills-container {
        justify-content: center;
    }
    .skills-name ,
    .skills-level {
        
        letter-spacing: 0;
    }
    .skills-name {
        font-size: var(--small-font-size);

      }
}


@media screen and (max-width:340px) {
    .nav-menu {
        padding: 1rem 1.5rem;
    }

   .home-buttons {
    flex-direction: column;
    }
    .home-handle {
        width:150px;
        height:253px;
    }
    .about-info {
        grid-template-columns:repeat(2,1fr) ;
        
    }
    .about-description {  
        text-align: justify;
    }
    .services-modal-description {
        text-align: left;
    }
    .skills-box {
        column-gap: 1rem;
    }
    
    
    .services-container {
        grid-template-columns: 200px;
        justify-content: center;
        
    }
    .work-filters {
        row-gap:2rem;
        flex-wrap: wrap;
    }
    .skills-content {
        padding: 1.5rem 0.5rem;
    }
    
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav-menu {
        width: 328px;
    }
    .about-info {
        grid-template-columns: repeat(3,140px);
        justify-content: center;
    }
    .about-description {
        padding: 0 5rem;
    }
    .skills-container {
        justify-content: center;
    }
    .skills-content {
        padding: 2rem 4rem;
    }
    .services-container {
        grid-template-columns: repeat(2,160px);
        justify-content: center;
    }
    .services-modal-content {
        width: 500px;
        padding: 4.5rem 2.5rem 2.5rem;
    }
    .services-modal-description {
        padding: 0 1.5rem;
    }
    .work-container {
        justify-content: center;
    }
    .work-img {
        width:295px;
    }
    .contact-info {
        grid-template-columns: 300px;
        justify-content: center;
        gap:3rem;
    }
    .contact-card {
        display: grid;
        gap:0.5rem;
    }
    .contact-form {
        width: 360px;
        margin:0 auto;
    }
}

@media screen and (min-width: 767px) {
    .work-container {
        grid-template-columns: repeat(2,max-content);
    }
    .services-container {
        grid-template-columns: repeat(2,225px);
    }
    .contact-container {
        grid-template-columns: repeat(2,max-content);
        justify-content: center;
        column-gap: 3rem;
    }
    .testimonial-container {
        padding: 2rem;
    }
}
/* For large devices */
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: 6.5rem 0 1rem; /*top horizontal bottom*/
    }
    .section-title {
        margin-bottom: 3.5rem;
    }
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .home-handle {
        width:290px;
        height: 500px;
    }
    .home-social-link {
        padding: 0.4rem;
        font-size: 1.25rem;
    }
    .home-social::after {
        transform: rotate(90deg) translate(16px , 0);
    }
    .home-scroll-icon {
        font-size: 2rem;
    }
    .about-container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        column-gap: 4rem;

    }
    .about-img {
        width: 350px;
    }
    .about-data {
        text-align: initial;
    }
    .about-info {
        justify-content: initial;
        grid-template-columns: repeat(3,150px);
        gap:1rem;
    }
    .about-box {
        
        text-align: center;
        padding: 1rem 1.25rem;
    }
    .about-description {
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    }
    .skills-container {
        grid-template-columns: repeat(2,400px);
        column-gap:8rem;
    }
    .skills-name {
        width: max-content;
    }
    .services-container {
        grid-template-columns: repeat(2,400px);
        gap:8rem;
    }
    .services-card {
        padding: 5rem 2rem;
    }
    .work-container {
        gap:6rem;
    }
    .work-card {
        padding: 1.25rem;
    }
    .work-img {
        margin-bottom: 1rem;
    }
    .work-title {
        margin-bottom:0.5rem ;
    }
    .testimonial-container {
        width: 750px;
        
    }
    .testimonial-card {
        padding: 1.5rem 2rem;
    }
    .contact-container {
        column-gap: 6rem;
    }
    .footer-social-link {
        font-size: 1.25rem;
        padding: 0.4rem;
        border-radius: 0.5rem;
    }
}